
/** Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lexend+Deca&display=swap');

html, *{
    font-family: 'Lexend Deca';
}
body{
    min-height: 100vh;
    margin: 0 auto;
    background: #0A0C1B;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width:100%;   
}
main{
    background:#1C1938;
    border-radius:10px;
    display: flex;
}
main h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -2.5px;
    color: #FEFFFF;
    margin: 5% 5% 0 5%;
}
main h1 mark{
    background:none;
    color: #A65BD7;
}
main p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    color: #FFFFFF;
    margin: 5%;
}
main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .picture{
    display: flex;
    position: relative;
}

/** image mask */
main .picture::after{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    background: rgba(166, 91, 215, 0.7);
}

@media only screen and (max-width: 992px){
   
    main{
        max-width: 100%;
        flex-direction: column-reverse;
        margin: auto 10%;
    }
    main .picture, main .picture::after{
        border-radius: 10px 10px 0px 0px;
        max-height: 234px;
    }
    main p, main h1{
        text-align: center;
    }
    .computer-only{
        display: none !important;
    }
   
}
@media only screen and (min-width: 992px){
    
    h1{
        font-size: 36px;
    }
    main{
        width: 66%;
    }   
    main section, main .picture{
        width:50%;
    }
    main .picture, main .picture::after{
        border-radius: 0px 10px 10px 0px;
    }
    .mobile-only{
        display: none !important;
    }
   
}



