/** Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lexend+Deca&display=swap');

html, * {
    font-family: 'Lexend Deca';
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    background: #0A0C1B;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

main {
    background: #1C1938;
    border-radius: 10px;
    display: flex;
    text-align: center;
    max-width: 100%;
    flex-direction: column-reverse;
    margin: auto 10%;
}

main h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -2.5px;
    color: #FEFFFF;
    margin: 0;
}

main h1 mark {
    background: none;
    color: #A65BD7;
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    color: #FFFFFF;
}

main section {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

main .picture {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    height: 234px;
    background-image:
        linear-gradient(rgba(166, 91, 215, 0.7), rgba(166, 91, 215, 0.7)),
        url('./pictures/mobile.png');
}




@media only screen and (min-width: 992px) {

   

    main {
        width: 66.66%;
        text-align: left;
        flex-direction: row;
    }
    
    main h1 {
        font-size: 36px;
    }
    
    main section {
        padding: 20% 7%;
        width: 50%;
    }
    main .picture {
        background-image:
            linear-gradient(rgba(166, 91, 215, 0.7), rgba(166, 91, 215, 0.7)),
            url('./pictures/computer.png');
        border-radius: 0px 10px 10px 0px;
        padding: 20% 7%;
        width: 50%;
        height: unset;
    }
    
}